{% extends 'base.html' %}
{% load static  %}
{% load crispy_forms_tags %}
{% block content %}
  <body>
    <div id="all">


      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Category with left sidebar</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'shop:home' %}">Home</a></li>
                <li class="breadcrumb-item active">Category with left sidebar</li>
              </ul>
            </div>
          </div>
        </div>
        {% if messages %}
        <ul>
        {% for message in messages %}
                    <li>
                      <div role="alert" class="alert alert-success alert-dismissible">
                        <button type="button" data-dismiss="alert" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>{{message}}
                      </div>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-3">
              <!-- MENUS AND FILTERS-->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Categories</h3>
                </div>
                <div class="panel-body">
               
                  <ul class="nav nav-pills flex-column text-sm category-menu">
                    {% for i in categories.all %}
                    <li class="nav-item"><a href="#" class="nav-link d-flex align-items-center justify-content-between"><span>{{i.name}} </span><span class="badge badge-secondary">{{i.category_name.count}}</span></a>
                      <ul class="nav nav-pills flex-column">
                        {% for a in i.category_name|slice:"0:3" %}
                        <li class="nav-item"><a href="{% url 'shop:product' id=a.id %}" class="nav-link">{{a.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
            
                  </ul>
              
                </div>
              </div>
              <div class="panel panel-default sidebar-menu">
              
                <div class="panel-heading d-flex align-items-center justify-content-between">
                  <h3 class="h4 panel-titlen">Brands</h3>
                
                  <!-- <a href="{% url 'shop:list' %}" class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i>
                    <span class="d-none d-md-inline-block">Clear</span>
                  </a> -->
              
                </div>
              
            <div class="panel-body">
                  <form method="GET">
                    <div class="form-group">
                      {% for i in brands %}
                      <div class="checkbox">
                        <label>
                          <input name="brand" value="{{i.id}}" type="checkbox"> {{i.name}}  ({{i.brands_name.count}})
                        </label>
                      </div>
                    {% endfor %}
                     
                    </div>
                    <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Apply</button>

                  </form>
                </div>
              </div>
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading d-flex align-items-center justify-content-between">
                  <h3 class="h4 panel-titlen">Colours</h3>
                  <!-- <a href="{% url 'shop:list' %}" class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Clear</span></a> -->
                </div>
                <div class="panel-body">
                  <form method="GET">
                  <div class="form-group">
                    {% for i in colors %}                                   
                    <div class="checkbox">
                        <label>
                          <input name="color" value="{{i.id}}" type="checkbox" ><span class="colour {{i.name}}"></span>
                    {{i.name}} ({{i.colors_name.count}})
                        </label>
                      </div>
                      {% endfor %}
                

                    </div>
                    <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Apply</button>
                  </form>
                </div>
              </div>
              <div class="banner"><a href="#"><img src="{% static 'img/banner.jpg' %}" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-md-9">
              <p class="text-muted lead">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>
              <div class="row products products-big">

                
                 {% if filter.qs %}
                {% for i in filter.qs %}

                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="image"><a href="{% url 'shop:product' id=i.id %}"><img src="{{i.image}}" alt="" class="img-fluid image1"></a></div>
                    <div class="text">
                      <h3 class="h5"><a href="{% url 'shop:product' id=i.id %}">{{i.name|title}}</a></h3>
                      <p class="price">
                        <del>$280</del> ${{i.price}}
                      </p>
                    </div>
                    <div class="ribbon-holder">
                    
                      <div class="ribbon sale">SALE</div>
                      <div class="ribbon new">NEW</div>
                    </div>
                  </div>
                </div>
                    {% endfor %}  
                    
       {% else %}
        {% for product in products %}
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="image"><a href="{% url 'shop:product' id=product.id %}"><img src="{{product.image}}" alt="" class="img-fluid image1"></a></div>
                    <div class="text">
                      <h3 class="h5"><a href="{% url 'shop:product' id=product.id %}">{{product.title|title}}</a></h3>
                      <p class="price">
                        <del>$280</del> ${{product.price}}
                      </p>
                    </div>
                    <div class="ribbon-holder">
                    
                      <div class="ribbon sale">SALE</div>
                      <div class="ribbon new">NEW</div>
                    </div>
                  </div>
                </div>
          {% endfor %}
  
{% endif %}
               
              </div>
              <div class="row">
                <div class="col-md-12 banner mb-small"><a href="#"><img src="img/banner2.jpg" alt="" class="img-fluid"></a></div>
              </div>
              <div class="pages">
                <!-- <p class="loadMore text-center"><a href="#" class="btn btn-template-outlined"><i class="fa fa-chevron-down"></i> Load more</a></p> -->
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="page-item"><a href="?page={{products.previous_page_number}}" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
                    {% endif %}

                    {% for i in products.paginator.page_range %}
                    <li class="page-item {% if products.number == i %}active{% endif %}"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                    {% endfor %}

                    {% if products.has_next %}
                    <li class="page-item"><a href="?page={{products.next_page_number}}" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                  {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>


{% endblock %}


